
.filterIcon {
  font-size: 17px;
}

.selectedFilterIcon {
  font-size: 17px;
  color: #4daafc
}

.filterIcon:hover {
  color: #40a9ff;
}

.searchMatchBox {
  position: absolute;
  top: 10px;
  right: 0px;
  color: #5a5a5a;
  font-size: 12px;

  .searchMatchSelect {
    display: flex;
    justifyContent: flex-end;
    align-items: center;
    width: 200px;
    font-size: 14px;

    div {
      margin: 0px 10px;
    }
  }
}
