
.FilterButtonBoxContainer{
  background: rgb(239, 239, 239);
  border: 1px solid #e5e7eb;
  color: #545968;
  border-radius: 4px;
  padding: 1px;
}
.FilterButtonBoxContainer:hover{
  background: rgb(234, 234, 234);
}

.spaceBox{
  margin-bottom: 12px;
  .ant-space{
     .anticon .anticon-close{
      margin-bottom: 25px !important;
    }
  }
}
