.container{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.titleContent{
    font-size: 20px;
    font-weight: bold;
}
.titleContext{
    font-size: 16px;
    color: #696969;
    font-weight: normal;
    margin-top: 15px;
}