<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2025  恒宇少年
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="LOG_HOME" value="logs/transports/mqtt" />
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %green(%-5level) %magenta(${PID:-}) --- [%15.15thread] %cyan(%-40.40logger{40}) - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
    <logger name="cn.devicelinks.transport.mqtt" level="DEBUG" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="cn.devicelinks.framework.jdbc" level="DEBUG" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="cn.devicelinks.framework.component" level="DEBUG" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>
</configuration>